@font-face {
  font-family: "ProductSans";
  src: url('font/ProductSans.ttf');
}
div{
   font-family: ProductSans;
 }
/*BG Halaman*/
body{
    background-image: url(BG.png);
    background-size: cover;
    font-family: ProductSans;
}
/*font ng button*/
button{
	font-family: ProductSans;
}
h2{
	text-align: center;
	margin-bottom: 30px;
}
select{
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 9px;
	border: solid 1px #00C853;
	padding: 8px;
	width: 198px;
	font-size: 12px;
	font-family: ProductSans;
}
input{
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	font-family: ProductSans;
	padding: 8px;
	width: 180px;
	border-radius: 9px;
	border: solid 1px #00C853;
}
.edit{
	background-color: white;
	width: 450px;
	border-radius: 30px;
	padding: 10px 40px 30px 50px;
	margin: 0 auto;
	margin-top: auto;
}
.simpan{
	margin-top: 10px;
	margin-right: 8px;
	margin-left: 310px;
	background-color: white;
	color: #00C853;
	border: solid 1px #00C853;
	border-radius: 9px;
	padding: 10px;
	font-size: 12px;
}
.simpan:hover{
	background-color: #00C853;
	color: white;
	cursor: pointer;
}
.reset{
	background-color: white;
	color: #E53935;
	border: solid 1px #E53935;
	border-radius: 9px;
	padding: 10px;
	font-size: 12px;
}
.reset:hover{
	background-color: #E53935;
	color: white;
	cursor: pointer;
}
