@font-face {
  font-family: "ProductSans";
  src: url('font/ProductSans.ttf');
}
div{
   font-family: ProductSans;
 }
/*BG Halaman*/
body{
    background-image: url(BG.png);
    background-size: cover;
    font-family: ProductSans;
}
/*font ng button*/
button{
	font-family: ProductSans;
}
h2{
	text-align: center;
	margin-bottom: 30px;
}
/*Tambah User*/
.tambah{
	background-color: white;
	width: 450px;
	border-radius: 30px;
	padding: 10px 75px 30px 50px;
	margin: 0 auto;
	margin-top: 10px;
}
.simpan{
	margin-top: 10px;
	margin-right: 8px;
	margin-left: 415px;
	background-color: white;
	color: #00C853;
	border: solid 1px #00C853;
	border-radius: 9px;
	padding: 10px;
	font-size: 12px;
}
.simpan:hover{
	background-color: #00C853;
	color: white;
	cursor: pointer;
}
.tambah input{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 170px;
	border-radius: 9px;
	border: solid 1px #00C853;
	font-family: ProductSans;
}
.tambah select{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 193px;
	border-radius: 9px;
	border: solid 1px #00C853;
	font-family: ProductSans;
}
/*Tambah Distributor*/
.tambahdstr{
	background-color: white;
	width: 400px;
	border-radius: 30px;
	padding: 90px;
	margin: 0 auto;
	margin-top: 25px;
}
.tambahdstr input{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 170px;
	border-radius: 9px;
	border: solid 1px #00C853;
	font-family: ProductSans;
}
.tambahdstr select{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 193px;
	border-radius: 9px;
	border: solid 1px #00C853;
	font-family: ProductSans;
}
